body {
    padding: 20px;
    background: crimson;
}

.enter {
    margin-left: 5%;
    font-size: 14pt;
    padding-right: 8px;
}

.enter:hover {
    border: 1px solid crimson;
}

.BackPanel {
    height: 95%;
    position: absolute;
    border: 2px solid black;
    border-radius: 25px;
    background: lightblue;
    width:90%;
    margin:0 auto;
}
#PageHeader {
    width: 95%;
    height: 7.5%;
    margin-top: 1%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1px;
    font-size: 25pt;
}

.MainPanels {
    border-radius: 25px;
    background: cornflowerblue;
    display: inline-block;
}

#Area {
    float: left;
    width: 40%;
    height: 45%;
    margin-top: 2.5%;
    margin-left: 2.5%;
}

#CheckTable {
    float: right;
    width: 50%;
    height: 85%;
    margin: 2.5%;
    font-size: 20pt;
}

#Fields {
    float: left;
    width: 40%;
    height: 25%;
    margin: 1%;
    margin-left: 2.5%;
    text-align: center;
    font-size: 14pt;
}

#ClearHist {
    float: left;
    width: 40%;
    height: 10%;
    margin: 1%;
    margin-left: 2.5%;
}

.hidden {
    display: None;
}

.table {
    background: silver;
    border-collapse: separate;
    border: 2px solid black;
    text-align: center;
    border-spacing: 10px;
    font-size: 16pt;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.tooltip {
    position: relative;
    display: inline-block;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}


.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}